body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Fondo ligero para resaltar el formulario */
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px; /* Ajusta el ancho máximo del formulario */
  box-sizing: border-box; /* Asegura que el padding no expanda el ancho del formulario */
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
